body {
    background-color: rgba(53,58,60,255);
}

#ulCofania {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#liCofania a {
    text-decoration: none;
    color: white;
}

#liCofania a:hover {
    background-color: aquamarine;
    color: white;
}

.powrot {
    font-size: 40px;
    background-color: rgb(96,12,20);
    color: white;
    transition: background 0.3s, transform 0.2s;
}

.powrot:hover{
    background-color: rgb(168,28,36);
    transform: scale(1.07);    
}

#headerNauki {
    text-align: center;
    color: white;
}

#generateQuestionsBtn {
    background-color: rgb(96,12,20);
    color: white;
    margin: 30px 0;
    align-items: center;
    border-radius: 12px;
    padding: 10px;
    font-size: 26px;
    transition: background 0.3s, transform 0.2s;
}

#generateQuestionsBtn:hover {
    background-color: rgb(168,28,36);
    transform: scale(1.07);
}

#checkAnswersBtn {
    background-color: rgb(96,12,20);
    color: white;
    margin: 30px 0;
    align-items: center;
    border-radius: 12px;
    padding: 10px;
    font-size: 26px;
    transition: background 0.3s, transform 0.2s;    
}

#checkAnswersBtn:hover {
    background-color: rgb(168,28,36);
    transform: scale(1.07);
}

#questionsDiv {
    padding: 10px;
    position: relative;
    border: 3px solid rgb(114, 19, 27);
    border-radius: 26px;
    width: 30%;
    left: 35%;
}

#questionList {
    color: white;
    list-style-type: none;
    padding: 10px;
    margin: 10px auto;
    max-width: 600px;
    text-align: left;
}

#questionList li {
    margin-bottom: 24px;
}

#questionList li label{
    display: block;
    margin-bottom: 8px;
}

#questionList li input[type="text"] {
    display: block;
    margin-top: 8px;
}

#center {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;   
    position: static;
    top: 50%;
    left: 50%;
}

#wynik {
    color: white;
}

.graf-schemat {
    margin-bottom: 18px;
}
.graf-wezly {
    margin-bottom: 12px;
}
.graf-polaczenia {
    margin-bottom: 18px;
}
.graf-odpowiedzi {
    margin-bottom: 10px;
}